* {
	box-sizing: border-box;
}

html, body {
	font-weight: @font-weight;
}

atom-workspace {
  background-color: @app-background-color;
	border-top: @modular-scale-xxs * 1rem solid @level-2-bg;
	border-left: @modular-scale-xxs * 1rem solid @level-2-bg;
	border-right: @modular-scale-xxs * 1rem solid @level-2-bg;
}

// Scrollbars
.scrollbars-visible-always {
	/deep/ ::-webkit-scrollbar {
		width: @component-padding;
		height: @component-padding;
	}

	/deep/ ::-webkit-scrollbar-track {
		background: @scrollbar-background-color;
	}

	/deep/ ::-webkit-scrollbar-thumb,
	/deep/ ::-webkit-scrollbar-corner {
		border-radius: @component-padding;
		border: 3px solid transparent;
		background: @scrollbar-color;
		background-clip: content-box;
	}

	/deep/ ::-webkit-scrollbar-thumb:active {
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
	}
}
