* {
	box-sizing: border-box;
}

html, body {
	font-weight: @font-weight;
}

atom-workspace {
  background-color: @app-background-color;
	border-top: @modular-scale-xxs * 1rem solid @level-2-bg;
	border-left: @modular-scale-xxs * 1rem solid @level-2-bg;
	border-right: @modular-scale-xxs * 1rem solid @level-2-bg;
}
