// text color indicates state, background indicates interaction


.btn-mixin (@bg-color, @fg-color) {

  @level-0-color: lighten(@bg-color, @ui-contrast + 12%);
  @level-1-color: lighten(@bg-color, @ui-contrast + 6%);
  @level-2-color:  darken(@bg-color, @ui-contrast);
  @level-3-color:  darken(@bg-color, @ui-contrast + 3%);
  @level-4-color:  darken(@bg-color, @ui-contrast + 6%);
  @level-5-color:  darken(@bg-color, @ui-contrast + 9%);

  color: @fg-color;
  background: @level-2-color;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);

  &:focus,
  &:hover {
    color: @fg-color;
    background: @level-4-color;
  }
  &:active {
    color: @fg-color;
    background: @level-5-color;
  }
  &.selected {
    color: @text-color-selected;
    background: @level-2-color;
  }
  &.selected:hover {
    color: @text-color-selected;
    background: @level-1-color;
  }
}

.btn {
  .btn-mixin(@button-background-color, @text-color);
}
.btn-variant(@var) {}

.btn.btn-primary {
  .btn-mixin(@button-background-color, @text-color-highlight);
}
.btn.btn-info {
  .btn-mixin(@background-color-info, @text-color);
}
.btn.btn-success {
  .btn-mixin(@background-color-success, @text-color);
}
.btn.btn-warning {
  .btn-mixin(@background-color-warning, @text-color);
}
.btn.btn-error {
  .btn-mixin(@background-color-error, @text-color);
}


// Button Group

.btn-group > .btn {
  border-left-color: @text-color-subtle;
  border-right-color: @text-color-subtle;
}
.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
  /* border-radius: 0; */
}
