//config variables (defined in isotope-ui.coffee) are passed on in attributes
//this stylesheet does the css interpretation

//font family
[isotope-ui-font='Cantarell'] {
  font-family: 'Cantarell', @font-family;
}
[isotope-ui-font='Clear Sans'] {
  font-family: 'Clear Sans', @font-family;
}
[isotope-ui-font='Fira Sans'] {
  font-family: 'Fira Sans', @font-family;
}
[isotope-ui-font='Open Sans'] {
  font-family: 'Open Sans', @font-family;
}
[isotope-ui-font='Oxygen'] {
  font-family: 'Oxygen', @font-family;
}
[isotope-ui-font='Roboto'] {
  font-family: 'Roboto', @font-family;
}
[isotope-ui-font='Source Sans Pro'] {
  font-family: 'Source Sans Pro', @font-family;
}
[isotope-ui-font='Ubuntu'] {
  font-family: 'Ubuntu', @font-family;
}

//font weight
[isotope-ui-fontweight='Extra light / Thin'] {
  font-weight: 200;
}
[isotope-ui-fontweight='Light'] {
  font-weight: 300;
}
[isotope-ui-fontweight='Regular'] {
  font-weight: 400;
}


atom-workspace:not(.zen) { // maintain zen
  &.isotope-ui-bg-gradient,
  &.isotope-ui-bg-image {
    border: none;
    padding-left: @modular-scale-xxs * 1rem;
    padding-right: @modular-scale-xxs * 1rem;

    /*
    These selectors aren't reliable, but I haven't found out
    how to target these UI elements reliably
    and it seems to work just fine
    */

    // make tree-view transparent
    .tool-panel.tool-panel:first-child:not(.panel-bottom),
    // make tab-bar transparent
    .panes atom-pane,
    .tab-bar,
    // make status-bar transparent
    .status-bar,
    .tool-panel.tool-panel.panel-bottom:last-child {
      background-color: transparent !important;
    }
  }

  &.isotope-ui-bg-gradient {
    background-image: linear-gradient(lighten(spin(@app-background-color, 66%), 12%) 0%, @app-background-color 100%);
  }

  &.isotope-ui-bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(atom://isotope-ui/resources/images/hubble.jpg);

    .status-bar,
    .tree-view.list-tree, // sadly loses status-indication
    .tab-bar .tab:not(.active) {
      & * {
        // make text stand out against any background
        color: #fff;
        text-shadow: 1px 0 4px rgba(0,0,0,.66);
      }
    }
    // hide custom status indicator
    .status-bar .buffer-modified:after {
      display: none;
    }

    // restore tree-view selected item color
    .tree-view.list-tree li {
      &.selected *,
      &:not(.list-nested-item).selected *,
      &.list-nested-item.selected > .list-item * {
        // only use @color if it has enough contrast with the background
        color: @base-fg;
        text-shadow: none;
      }

      // replace status indication because we don't have different colors anymore
      &.status-modified,
      &:not(.list-nested-item).status-modified,
      &.list-nested-item.status-modified > .list-item {
        > .name:after {
          content: ' *';
        }
      }
      &.status-added,
      &:not(.list-nested-item).status-added,
      &.list-nested-item.status-added > .list-item {
        > .name:after {
          content: ' +';
        }
      }
    }
  }
}
