//config variables (defined in isotope-ui.coffee) are passed on in attributes
//this stylesheet does the css interpretation for typography

//font family
[isotope-ui-font='Cantarell'] {
  font-family: 'Cantarell', @font-family;
}
[isotope-ui-font='Clear Sans'] {
  font-family: 'Clear Sans', @font-family;
}
[isotope-ui-font='Fira Sans'] {
  font-family: 'Fira Sans', @font-family;
}
[isotope-ui-font='Open Sans'] {
  font-family: 'Open Sans', @font-family;
}
[isotope-ui-font='Oxygen'] {
  font-family: 'Oxygen', @font-family;
}
[isotope-ui-font='Roboto'] {
  font-family: 'Roboto', @font-family;
}
[isotope-ui-font='Source Sans Pro'] {
  font-family: 'Source Sans Pro', @font-family;
}
[isotope-ui-font='Ubuntu'] {
  font-family: 'Ubuntu', @font-family;
}

//font weight
[isotope-ui-fontweight='Extra light / Thin'] {
  font-weight: 200;
}
[isotope-ui-fontweight='Light'] {
  font-weight: 300;
}
[isotope-ui-fontweight='Regular'] {
  font-weight: 400;
}

//font-size config (max 36)
/* config not functional, see https://github.com/atom/settings-view/issues/307
.loop-fontsize(@counter) when (@counter > 0) {
  .loop-fontsize((@counter - 1));    // next iteration
  [isotope-ui-fontsize='@{counter}'] {
    font-size: @counter * 1px;
  }
}
.loop-fontsize(36);
*/
