.isotope-ui-gutter-style {
  atom-text-editor,
  atom-text-editor::shadow {
    .gutter {
      background: transparent;
      border: none;
      border-right: 1px solid fadeout(@syntax-wrap-guide-color, 25%);
      color: @fg-subtle;

      .line-number {
        background-color: transparent;

        .icon-right {
          padding: 0 @modular-scale-xxs * 1rem;
        }
      }
    }
  }
}

atom-text-editor,
atom-text-editor::shadow {
  .cursor-line {
    background: fadeout( darken(@ui-theme-color, @ui-contrast + 3%), 60%);
  }
  .bracket-matcher .region {
    border-bottom: 1px solid @base-fg;
  }
  .scroll-view {
    padding-left: @modular-scale-xxs * 1rem;
    box-sizing: border-box;
  }
  .gutter + .scroll-view {
    padding-left: 0;
  }



  .ui-site-1 {
    background: @ui-site-color-1;
  }
  .ui-site-2 {
    background: @ui-site-color-2;
  }
  .ui-site-3 {
    background: @ui-site-color-3;
  }
  .ui-site-4 {
    background: @ui-site-color-4;
  }
  .ui-site-5 {
    background: @ui-site-color-5;
  }
}
