atom-text-editor.mini {
  padding-left: 0;
  border-radius: @component-border-radius;
  color: @fg-highlight;
  border: 1px solid @input-border-color;
  background-color: @input-background-color;
  padding-left: @component-padding/2;

  &,
  &::shadow {
    .placeholder-text {
      color: @fg-subtle;
    }
    .selection .region {
      background-color: @input-selection-color;
    }
  }

  &.is-focused,
  &.is-focused::shadow {
    background-color: @input-background-color-focus;
    .selection .region {
      background-color: @input-selection-color-focus;
    }
  }
}

.editor {
  border-top-left-radius: @component-border-radius;
}

::shadow {
  .gutter {
    background: @theme-color;
    color: @fg-subtle;
    border: none;
    border-right: 1px solid @syntax-wrap-guide-color;
  }
  .line-number {
    padding-left: @modular-scale-s * 1rem;
  }
  .cursor-line {
    background: fadeout( darken(@theme-color, @ui-contrast + 6%), 42.2%);
  }
}
