//Open Sans
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('atom://isotope-ui/resources/open-sans/open-sans-light.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url('atom://isotope-ui/resources/open-sans/open-sans-light-italic.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('atom://isotope-ui/resources/open-sans/open-sans.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('atom://isotope-ui/resources/open-sans/open-sans-italic.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('atom://isotope-ui/resources/open-sans/open-sans-bold.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url('atom://isotope-ui/resources/open-sans/open-sans-bold-italic.woff');
}


//Source Sans Pro
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: normal;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-extralight.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-style: italic;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-extralight-italic.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-light.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-light-italic.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-italic.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-bold.woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: italic;
  src: url('atom://isotope-ui/resources/source-sans-pro/source-sans-pro-bold-italic.woff');
}


//Clear Sans
@font-face {
  font-family: 'Clear Sans';
  font-weight: 200;
  font-style: normal;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-thin.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 200;
  font-style: italic;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-thin.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 300;
  font-style: normal;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-light.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 300;
  font-style: italic;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-light.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 400;
  font-style: normal;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 400;
  font-style: italic;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-italic.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 700;
  font-style: normal;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-bold.woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-weight: 700;
  font-style: italic;
  src: url('atom://isotope-ui/resources/clear-sans/clear-sans-bold-italic.woff');
}
