@modified-icon-width: 8px;
@tab-top-padding: 0;
@tab-bottom-border-height: 0;
@tab-border: 0 solid @level-5-bg;
@tab-max-width: 160px;
@tab-min-width: 28px;

.tab-bar {
  /* margin-top: @modular-scale-s * 1rem; */
  height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .tab {
    position: relative;
    top: @tab-top-padding;
    max-width: @tab-max-width;
    min-width: @tab-min-width;
    height: @tab-height;
    line-height: @tab-height;
    padding: 0;
    margin: 0;
    color: @tab-text-color;
    background: @level-2-bg;
    border-right: @tab-border;

    &:hover .close-icon {
      transform: scale(1);
    }

    .title {
      position: relative;
      z-index: 1;
      padding: 0  @component-padding;
    }

    .close-icon {
      right: 0;
      z-index: 3;
      margin-right: @component-padding;
      text-align: right;
      line-height: @tab-height;
      background: inherit;
      transform: scale(0);
      transition: transform .1s;

      &:hover {
        color: inherit;
      }

      &:active {
        opacity: .3;
      }
    }
  }

  .tab.active {
    z-index: 1;
    flex: 2 0 auto;
    padding-right: @modified-icon-width + 2px;
    background-color: @theme-color;
    color: @base-fg;
    opacity: 1;

    &:last-of-type {
      border-right-color: @level-5-bg;
    }

    &:hover .close-icon {
      color: @base-fg;

      &:hover {
        color: inherit;
      }
    }

    & .close-icon {
      color: @base-fg;
      transform: scale(1);
    }

    // Seamless tab border cover
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      border-bottom: @tab-bottom-border-height solid @level-3-bg;
    }

    // Active pane marker
    atom-pane.active &:before {
      transform: scaleY(1);
    }

  }

  .tab.modified {
    &:not(:hover) .close-icon {
      right: 0;
      top: @tab-height/2 - @modified-icon-width/2 + 1px;
      width: @modified-icon-width;
      height: @modified-icon-width;
      border-color: @level-5-bg;
      transform: scale(1);
    }

    &:hover .close-icon:hover {
      color: @fg-highlight;
    }
  }

  .tab.is-dragging {
    background: darken(@level-2-bg, 6%);
    border-color: transparent;
    opacity: .5;
    & .close-icon,
    &:before,
    &:after {
      visibility: hidden;
    }
  }

  .placeholder {
    margin: 0;
    height: @tab-height + @tab-top-padding;
    background: @level-5-bg;
    pointer-events: none;
    &:after {
      top: @tab-height/2 + @tab-top-padding - 5px ;
      width: 10px;
      height: 10px;
      margin: 0;
      border-radius: 0;
      border: 5px solid;
      border-color: transparent transparent transparent @level-5-bg;
      background: transparent;
    }

    &:last-child {
      margin-left: -2px;

      &:after {
        margin-left: -10px;
        border-color: transparent @level-5-bg transparent transparent;
      }
    }
  }
}
