.tree-view {
  font-size: @font-size;
  color: @text-color-subtle;

  li,
  li:not(.list-nested-item),
  li.list-nested-item > .list-item {
    line-height: @modular-scale-xl * 1rem;
    height: @modular-scale-xl * 1rem;
  }


  // align project root with tabs
  .project-root,
  .project-root > .header {
    height: @tab-height;
    line-height: @tab-height;
    &:not(.list-nested-item),
    &.list-nested-item > .list-item {
      height: @tab-height;
      line-height: @tab-height;
    }
    &:before {
      height: @tab-height;
      line-height: @tab-height;
    }
  }

  .selected:not(.project-root) {
    color: @text-color;
    background: @tab-background-color-active;
    &:before {
      line-height: @modular-scale-xl * 1rem;
      height: @modular-scale-xl * 1rem;
      background: @tab-background-color-active;
    }
  }

}

.focusable-panel:focus {
  .selected,
  .selected > .name,
  .selected > .name:before,
  .selected > .list-item > .name,
  .selected > .list-item > .name:before {
    color: @text-color-selected;
    background: @tab-background-color-active;
    &:before {
      background: @tab-background-color-active;
    }
  }
}


.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}
