.key-binding {
  display: inline-block;
  margin-left: @component-icon-padding;
  padding: @component-padding/2;
  line-height: 1;
  font-family: Helvetica, Arial, sans-serif;
  font-size: @font-size - 1px;
  border-radius: @component-border-radius;
  border: 1px solid @key-binding-border-color;
  background-color: @key-binding-background-color;
}

.badge {
  .text(highlight);
  background: @background-color-highlight;
}

.inline-block {
  margin-right: @modular-scale-s * 1rem;
  vertical-align: baseline;
}
.inline-block-tight {
  margin-right: @modular-scale-xxs * 1rem;
}



// TODO: Move to a better place, not sure where it gets used
.caret {
  border-top: 5px solid #fff;
  margin-top: -1px;
}
