.status-bar {
  .top-edge();

  height: round(@component-line-height);
  line-height: round(@component-line-height);
  background: @tool-panel-background-color;
  font-size: @modular-scale-m * 1rem;

  > * {
    padding: 0 @modular-scale-s * 1rem;
  }

  .status-bar-left > *,
  .status-bar-right > * {
    vertical-align: top;
  }
}
